* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

h1{
    text-align: center;
    margin: 12px 0;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 15px;
    border: 2px solid #9d8e8e;
    border-radius: 12px;
    outline: none;
}

.btn{
    padding: 10px 24px;
    font-size: 16px;
    border: 2px solid rgb(129, 126, 126);
    border-radius: 15px;
    color: white;
    background: rgb(105, 97, 97);
    cursor: pointer;
    outline: none;
    margin: 20px;
}

.container{
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
}

.container h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
}